{% extends "layouts/base.njk" %}

{% block title %}All Job Roles{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">All job roles</h1>

  <p><a class="govuk-button" href="/job-roles/new">Add job role</a></p>

  <div class="job-role-page-layout">
  <form class="job-role-filters" action="/job-roles" method="get">
    <h2 class="govuk-heading-m job-role-filters__heading">Filter job roles</h2>

    <div class="job-role-filters__text-fields">
      <div class="govuk-form-group">
        <label class="govuk-label" for="role-name">Role name</label>
        <input class="govuk-input" id="role-name" name="roleName" type="text" value="{{ filters.roleName or '' }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="location">Location</label>
        <input class="govuk-input" id="location" name="location" type="text" value="{{ filters.location or '' }}">
      </div>
    </div>

    <div class="job-role-filters__groups">
      <fieldset class="govuk-fieldset job-role-filters__group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Capability</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% for option in capabilityOptions %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="capability-{{ loop.index }}" name="capability" type="checkbox" value="{{ option }}"{% if option in filters.capability %} checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="capability-{{ loop.index }}">{{ option }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset job-role-filters__group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Band</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% for option in bandOptions %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="band-{{ loop.index }}" name="band" type="checkbox" value="{{ option }}"{% if option in filters.band %} checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="band-{{ loop.index }}">{{ option }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset job-role-filters__group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Status</legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
          {% for option in statusOptions %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="status-{{ loop.index }}" name="status" type="checkbox" value="{{ option.value }}"{% if option.value in filters.status %} checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="status-{{ loop.index }}">{{ option.label }}</label>
            </div>
          {% endfor %}
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset job-role-filters__group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Closing date</legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="closing-date-after">From</label>
          <input class="govuk-input govuk-input--width-10" id="closing-date-after" name="closingDateAfter" type="date" value="{{ filters.closingDateAfter or '' }}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="closing-date-before">To</label>
          <input class="govuk-input govuk-input--width-10" id="closing-date-before" name="closingDateBefore" type="date" value="{{ filters.closingDateBefore or '' }}">
        </div>
      </fieldset>
    </div>

    <div class="job-role-filters__actions">
      <button class="govuk-button" data-module="govuk-button" type="submit">Apply filters</button>
      {% if isFiltered %}
        <a class="govuk-link" href="/job-roles">Clear filters</a>
      {% endif %}
    </div>
  </form>

  <div class="job-role-results">
  {% if pageError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary" role="alert" tabindex="-1" aria-labelledby="job-role-list-error-title">
      <h2 id="job-role-list-error-title" class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <p class="govuk-body">{{ pageError }}</p>
      </div>
    </div>
  {% endif %}

  {% if jobRoles.length > 0 %}
    <p class="govuk-body job-role-results-summary">
      {% if isFiltered %}
        {{ total }} job role{% if total != 1 %}s{% endif %} found
      {% else %}
        Showing {{ pagination.fromItem }} to {{ pagination.toItem }} of {{ total }} job roles
      {% endif %}
    </p>

    <ul class="govuk-list job-role-list" aria-label="Job role listings">
      {% for jobRole in jobRoles %}
        <li class="job-role-list__item">
          <article class="job-role-card job-role-card--clickable">
            <header class="job-role-card__header">
              <h2 class="govuk-heading-m job-role-card__title">
                <a class="job-role-card__link" href="/job-roles/{{ jobRole.id }}">{{ jobRole.roleName }}</a>
              </h2>
              <strong class="govuk-tag job-role-card__status {% if jobRole.status.name == 'OPEN' %}job-role-card__status--open{% else %}job-role-card__status--closed{% endif %}">
                {{ jobRole.statusLabel }}
              </strong>
            </header>

            <p class="govuk-body-l job-role-card__location">{{ jobRole.location }}</p>

            <p class="govuk-body job-role-card__meta">
              <span class="job-role-card__meta-item">{{ jobRole.capability.name }}</span>
              <span class="job-role-card__meta-divider" aria-hidden="true">&bull;</span>
              <span class="job-role-card__meta-item">{{ jobRole.band.name }}</span>
            </p>

            <footer class="job-role-card__footer">
              <span class="govuk-body-s">Closing date: {{ jobRole.closingDateLabel }}</span>
            </footer>
          </article>
        </li>
      {% endfor %}
    </ul>

    <nav class="govuk-pagination job-role-pagination" aria-label="Pagination">
      <div class="job-role-pagination__first">
        {% if pagination.hasPrevious %}
          <a class="govuk-button job-role-pagination__button" href="{{ pagination.firstHref }}" rel="first">First</a>
        {% else %}
          <span class="govuk-button job-role-pagination__button job-role-pagination__button--disabled" aria-disabled="true">First</span>
        {% endif %}
      </div>

      <div class="govuk-pagination__prev job-role-pagination__direction">
        {% if pagination.hasPrevious %}
          <a class="govuk-link govuk-pagination__link" href="{{ pagination.previousHref }}" rel="prev">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
          </a>
        {% else %}
          <span class="govuk-pagination__link job-role-pagination__direction-link--disabled" aria-disabled="true">
            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            <span class="govuk-pagination__link-title">Previous<span class="govuk-visually-hidden"> page</span></span>
          </span>
        {% endif %}
      </div>

      <ul class="govuk-pagination__list job-role-pagination__list">
        {% for pageLink in pagination.pageLinks %}
          <li class="govuk-pagination__item {% if pageLink.isCurrent %}govuk-pagination__item--current{% endif %}">
            <a class="govuk-link govuk-pagination__link" href="{{ pageLink.href }}" aria-label="Page {{ pageLink.page }}"{% if pageLink.isCurrent %} aria-current="page"{% endif %}>{{ pageLink.page }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="govuk-pagination__next job-role-pagination__direction">
        {% if pagination.hasNext %}
          <a class="govuk-link govuk-pagination__link" href="{{ pagination.nextHref }}" rel="next">
            <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </a>
        {% else %}
          <span class="govuk-pagination__link job-role-pagination__direction-link--disabled" aria-disabled="true">
            <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg>
          </span>
        {% endif %}
      </div>

      <div class="job-role-pagination__last">
        {% if pagination.hasNext %}
          <a class="govuk-button job-role-pagination__button" href="{{ pagination.lastHref }}" rel="last">Last</a>
        {% else %}
          <span class="govuk-button job-role-pagination__button job-role-pagination__button--disabled" aria-disabled="true">Last</span>
        {% endif %}
      </div>
    </nav>
  {% else %}
    <p class="govuk-body">{% if isFiltered %}No job roles match your filters.{% else %}No job roles found.{% endif %}</p>
  {% endif %}
  </div>
  </div>
{% endblock %}
