{% extends "layouts/base.njk" %}

{% block title %}Application submitted{% endblock %}

{% block content %}
  <section aria-labelledby="application-success-title">
    <h1 class="govuk-heading-l" id="application-success-title">Application submitted</h1>
    <p class="govuk-body">Your application has been submitted successfully.</p>
    <a class="govuk-button" href="/job-roles">Browse job roles</a>
  </section>
{% endblock %}
