{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set brandHtml %}
  <a href="/" class="kainos-topnav__brand-link" aria-label="Kainos home">
    <img src="/assets/logos/kainos-logo-primary-transparent.png" alt="Kainos" class="kainos-topnav__brand-logo" />
  </a>
{% endset %}

{% set accountButtonHtml %}
  {% if isAuthenticated %}
    <form method="post" action="/logout" class="kainos-topnav__logout-form">
      {{ govukButton({
        text: "Log out",
        classes: "kainos-topnav__cta"
      }) }}
    </form>
  {% else %}
    {{ govukButton({
      text: "Login",
      href: "/login",
      classes: "kainos-topnav__cta"
    }) }}
  {% endif %}
{% endset %}

{% set navActionsHtml %}
  <li class="govuk-service-navigation__item kainos-topnav__actions">
    {{ govukButton({
      text: "Add job role",
      href: "/job-roles/new",
      classes: "kainos-topnav__cta kainos-topnav__add-role"
    }) }}
    {{ accountButtonHtml | safe }}
  </li>
{% endset %}

{{ govukServiceNavigation({
  classes: "kainos-topnav",
  ariaLabel: "Primary",
  navigationLabel: "Main menu",
  navigationId: "kainos-primary-nav",
  navigation: [
    { href: "/", text: "Home" },
    { href: "/job-roles", text: "Job Roles" }
  ],
  slots: {
    start: brandHtml,
    navigationEnd: navActionsHtml
  },
  collapseNavigationOnMobile: true
}) }}

