{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set brandHtml %}
  <a href="/" class="kainos-topnav__brand-link" aria-label="Kainos home">
    <img src="/assets/logos/kainos-logo-primary-transparent.png" alt="Kainos" class="kainos-topnav__brand-logo" />
  </a>
{% endset %}

{% set accountButtonHtml %}
  {% if isAuthenticated %}
    {{ govukButton({
      text: "Log out",
      href: "/logout",
      classes: "kainos-topnav__cta"
    }) }}
  {% else %}
    {{ govukButton({
      text: "Get in touch",
      href: "#",
      classes: "kainos-topnav__cta"
    }) }}
  {% endif %}
{% endset %}

{% set navActionsHtml %}
  <li class="govuk-service-navigation__item kainos-topnav__actions">
    <a href="#" class="govuk-service-navigation__link kainos-topnav__icon-link" aria-label="Share">
      <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M18 16a3 3 0 0 0-2.39 1.2l-6.84-3.42a3.06 3.06 0 0 0 0-1.56l6.84-3.42A3 3 0 1 0 15 7a3.11 3.11 0 0 0 .08.67L8.24 11.1a3 3 0 1 0 0 1.8l6.84 3.43A3 3 0 1 0 18 16Z" />
      </svg>
    </a>
    {{ accountButtonHtml | safe }}
    <a href="#" class="govuk-service-navigation__link kainos-topnav__icon-link" aria-label="Search">
      <svg viewBox="0 0 24 24" width="24" height="24" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.5 6.5 0 1 0 14 15.5l.27.28v.79L20 22l2-2-6.5-6ZM10 15a5 5 0 1 1 0-10 5 5 0 0 1 0 10Z" />
      </svg>
    </a>
  </li>
{% endset %}

{{ govukServiceNavigation({
  classes: "kainos-topnav",
  ariaLabel: "Primary",
  navigationLabel: "Main menu",
  navigationId: "kainos-primary-nav",
  navigation: [
    { href: "#", text: "Digital Services" },
    { href: "#", text: "Workday" },
    { href: "#", text: "Industries" },
    { href: "#", text: "Insights" },
    { href: "#", text: "Careers" }
  ],
  slots: {
    start: brandHtml,
    navigationEnd: navActionsHtml
  },
  collapseNavigationOnMobile: true
}) }}

