<!DOCTYPE html>
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
<html lang="en" class="govuk-template app-page">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Explore Kainos job roles, review opportunities and apply for positions that match your skills." />
    <title>{% block title %}JobRoles{% endblock %} - Kainos</title>
    <link rel="stylesheet" href="/govuk-frontend.min.css" />
    <link rel="stylesheet" href="/styles.css" />
    {% block pageStyles %}{% endblock %}
  </head>
  <body class="govuk-template__body app-page__body">
    {{ govukSkipLink({
      href: "#main-content",
      text: "Skip to main content"
    }) }}

    <script>
      document.body.className += " js-enabled";
    </script>

    {% block header %}
      {% include "partials/header.njk" %}
    {% endblock %}

    <div class="govuk-width-container app-page__content">
      <main class="govuk-main-wrapper app-page__main" id="main-content" role="main">
        {% block content %}{% endblock %}
      </main>
    </div>

    {% block footer %}
      {% include "partials/footer.njk" %}
    {% endblock %}

    {% block scripts %}
      <script type="module">
        import { initAll } from "/govuk-frontend.min.js";
        initAll();
      </script>
    {% endblock %}
  </body>
</html>
